.navbar{
  padding: 1rem;
  background-color: rgb(231, 178, 196);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left: 2rem;
  width: 100px; 
  height: 100px;
}

.items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.link{
  color: rgb(106, 25, 138);
  text-decoration: none;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.3rem;
  margin-right: 2rem;
  border: 2px solid rgb(106, 25, 138);
  border-radius: 25px;
}